<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">AMCC & SoE OwnerShip</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul  class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/files']" routerLinkActive="active">SoE Files</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" [routerLink]="['/teams']" routerLinkActive="active">Teams</a>
          </li>
           <li class="nav-item active">
            <a class="nav-link" [routerLink]="['/apis']" routerLinkActive="active">APIs</a>
          </li>
      </ul>
      <form class="form-inline my-2 my-lg-0 ml-auto">
          <label for="" style="color:white">WXAH</label>
      </form>
    </div>
  </nav>