.bg-light {
    background-color: #1525b7!important;
}
.navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover {
    color: white
}
.navbar-light .navbar-brand {
    color: white;
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: white;
}
a.active{
    background-color: white;
    color: black !important;
    }
    
a:hover{
    color: black;
    }

.nav-item{
    margin-right:10px
}